<div class="home-center">
    {{!-- <div class="adminlogintext">
        <p>Admin Login</p>
    </div> --}}
    <div class="home-center-content animated pulse delay-2s">
        <a href="https://discord.gg/Vk2QnSf">dex</a>
        <a href="/auth/login">
            <p class="adminlogintext">Admin Login</p>
        </a>
    </div>
</div>